body {
  font-family: Arial;
  margin: 0;
  background: #f4f4f4;
}

nav {
  background: white;
  padding: 15px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: black;
}

.hero {
  background: linear-gradient(to right, #7cfafa, #fc839d);
  color:#f4f4f4(226, 135, 93);
  padding: 40px;
  display: flex;
  align-items: center;
}

.hero img {
  width: 200px;
  margin-right: 30px;
}

.page {
  background: linear-gradient(to right, #7cfafa, #fc839d);
  margin: 40px;
  padding: 40px;
  border-radius: 10px;
}
.social-icons {
  margin-top: 15px;
}

.social-icons a {
  font-size: 24px;
  margin-right: 15px;
  color: #333;
  text-decoration: none;
}

.social-icons a:hover {
  color: #0077b5; /* hover effect */
}
.about-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px;
}

.about-left {
  width: 50%;
}

.about-right {
  width: 45%;
}